@*@model List<Blog>*@

@*@{
    ViewData["Title"] = "Home Page";
}*@

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<h2>Blogs</h2>

@*@foreach (var item in Model)
{
    <h3>@item.Content</h3>
}*@